<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048792693702-j2lmlg2oc2aq5kq0f5ru39q2gsj249kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048792693702-j2lmlg2oc2aq5kq0f5ru39q2gsj249kf</string>
	<key>API_KEY</key>
	<string>AIzaSyDnuaftzdwAFqVURBTa8MqZuyTE7XaxiR0</string>
	<key>GCM_SENDER_ID</key>
	<string>1048792693702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CodePathTeam.GymMate</string>
	<key>PROJECT_ID</key>
	<string>gymmate-e5498</string>
	<key>STORAGE_BUCKET</key>
	<string>gymmate-e5498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048792693702:ios:c4654350b3a39454c490c7</string>
</dict>
</plist>